@charset "utf-8";

//清除浮动后的高度塌陷
@mixin clearfix() {
  &:after {
    content: " "; 
    display: block; 
    clear: both;
	}
}

// 头部

.wrap{
	width: 950px;
	margin: 0 auto;
}
//头部
.cart_header_bottom{
	height: 110px;
    border-bottom: 1px solid #ddd;
	.logo{
		width: 170px;
		margin-top: 29px;
		float: left;
		.logo_img{
			display: inline;
			float: left;
		}
		
	}
	.title{
		width: 170px;
	    height: 44px;
	    line-height: 44px;
	    float: left;
	    display: inline;
	    color: #666;
	    font-size: 22px;
	    margin: 30px 0 0 10px;
	}
	.login-message {
	    width: auto;
	    height: 24px;
	    line-height: 24px;
	    color: #333;
	    float: right;
	    display: inline;
	    margin: 60px 4px 0 0;
	    a {
		    color: #e6133c;
		    text-decoration: none;
		    font-weight: 700;
		    &:hover{
		    	text-decoration:underline;
		    }
		}
	}
}

//主体部分
.cart_main{
	width: 990px;
	margin: 0 auto;
	@include clearfix();
	.cart-title {
	    width: 990px;
	    height: 51px;
	    border-bottom: 1px solid #ccc;
	    float: left;
	    display: inline;
	   .name {
		    width: auto;
		    height: 32px;
		    line-height: 32px;
		    padding: 0 6px;
		    margin-top: 18px;
		    float: left;
		    display: inline;
		    border-bottom: 2px solid #333;
		    color: #333;
		    font-size: 16px;
		    font-weight: 700;
		    span {
			    color: #e6133c;
			    margin-left: 4px;
			}
		}
		.send-message {
		    width: auto;
		    height: 48px;
		    line-height: 48px;
		    float: right;
		    display: inline;
		    margin-top: 3px;
		    color: #333;
		    .message-name {
			    color: #666;
			    width: auto;
			    float: left;
			    display: inline;
			    margin-right: 4px;
			}
			.address-line {
			    width: auto;
			    height: 24px;
			    border: 1px solid #ddd;
			    margin-top: 10px;
			    float: left;
			    display: inline;
			    position: relative;
			}
			.address-name {
			    width: auto;
			    padding: 0 30px 0 10px;
			    line-height: 24px;
			    position: relative;
			    float: left;
			    display: inline;
			    color: #333;
			    cursor: pointer;
			    background: #fff;
			    i {
				    width: 0;
				    height: 0;
				    border: 5px solid transparent;
				    border-top: 5px solid #999;
				    position: absolute;
				    right: 5px;
				    top: 9px;
				    float: left;
				    display: inline;
				}
			}
			.address-list {
			    width: 378px;
			    height: auto;
			    border: 1px solid #ddd;
			    float: left;
			    position: absolute;
			    top: 24px;
			    right: -1px;
			    display: none;
			    background: #fff;
			    .txt {
				    width: 358px;
				    height: 24px;
				    line-height: 24px;
				    margin: 10px 0 0 10px;
				    float: left;
				    display: inline;
				    color: #666;
				}
				.line {
				    width: 358px;
				    max-height: 48px;
				    line-height: 24px;
				    float: left;
				    display: inline;
				    overflow: hidden;
				    margin-left: 10px;
				}
			}
		}
		.address-tab-form {
		    width: 360px;
		    height: auto;
		    float: left;
		    display: inline;
		    margin: 16px 0 0 10px;
		}
		.tab {
		    width: 360px;
		    height: 32px;
		    border-bottom: 1px solid #ddd;
		    float: left;
		    display: inline;
		}
	}
	.cart-table {
	    width: 990px;
	    height: auto;
	    float: left;
	    display: inline;
	    .cart-head {
		    width: 990px;
		    height: 44px;
		    line-height: 44px;
		    color: #333;
		    float: left;
		    display: inline;
		    border-bottom: 1px solid #ccc;
		    .chk-line {
			    width: 50px;
			    height: 44px;
			    line-height: 44px;
			    float: left;
			    display: inline;
			    margin-left: 15px;
			    .chk {
				    margin-top: 17px;
				    float: left;
				    display: inline;
				    width: 10px;
				    height: 10px;
				    border-radius: 3px;
				    cursor: pointer;
				    border: 1px solid #999;
				}
				.name {
				    height: 44px;
				    line-height: 44px;
				    margin-left: 10px;
				    float: left;
				    display: inline;
				}
			}
			.select .chk {
			    border-color: #d62233;
			    background: url(../images/select.png) #d62233 no-repeat;
			}
			.item {
			    width: 390px;
			    height: auto;
			    height: 44px;
			    line-height: 44px;
			    float: left;
			    display: inline;
			    margin-left: 80px;
			}
			.item-price {
			    width: 138px;
			    height: auto;
			    height: 44px;
			    line-height: 44px;
			    float: left;
			    display: inline;
			}
			.number {
			    width: 102px;
			    height: auto;
			    height: 44px;
			    line-height: 44px;
			    float: left;
			    display: inline;
			}
			.total-price {
			    width: 132px;
			    height: auto;
			    height: 44px;
			    line-height: 44px;
			    float: left;
			    display: inline;
			}
			.action {
			    width: 64px;
			    height: auto;
			    height: 44px;
			    line-height: 44px;
			    float: left;
			    display: inline;
			}
		}
		.no-points {
		    width: 990px;
		    height: 200px;
		    float: left;
		    display: none;
		     i {
			    width: 63px;
			    height: 76px;
			    float: left;
			    display: inline;
			    background: url(../images/V3empty.png) no-repeat;
			    margin: 50px 20px 0 290px;
			}
			.message {
			    color: #666;
			    font-family: "Microsoft YaHei";
			    font-size: 16px;
			    float: left;
			    display: inline;
			    width: 400px;
			    margin-top: 80px;
			}
			.txt {
			    color: #666;
			    font-family: "Microsoft YaHei";
			    float: left;
			    display: inline;
			    width: 400px;
			     a {
				    color: #0077d7;
				    &:hover{
				    	text-decoration:underline;
				    }
				}
			}
		}
	}

	//有商品部分

	.cart-table .cart-table-name {
	    width: 990px;
	    height: 34px;
	    line-height: 34px;
	    float: left;
	    display: none;
	    margin-top: 16px;
	    border-bottom: 1px solid #ccc;
	    .chk-line {
		    width: auto;
		    height: 34px;
		    line-height: 34px;
		    float: left;
		    display: inline;
		    margin-left: 15px;
		    .chk {
			    margin-top: 12px;
			    float: left;
			    display: inline;
			    width: 10px;
			    height: 10px;
			    border-radius: 3px;
			    cursor: pointer;
			    border: 1px solid #999;
			}
			i {
			    width: 13px;
			    height: 13px;
			    float: left;
			    display: inline;
			    background: url(../images/cart_icon.png) no-repeat 0 0;
			    margin: 10px 0 0 12px;
			}
			.name {
			    height: 34px;
			    line-height: 34px;
			    margin-left: 10px;
			    float: left;
			    display: inline;
			    font-size: 14px;
			}
		}
		.select .chk {
		    border-color: #d62233;
		    background: url(../images/select.png) #d62233 no-repeat;
		}
	}
	.cart-table-list {
	    width: 990px;
	    height: auto;
	    float: left;
	    display: inline;
	    li {
		    width: 990px;
		    height: auto;
		    float: left;
		    display: none;
		    border-bottom: 1px solid #ccc;
		    background: #fcfcfc;
		}
		.item {
		    width: 990px;
		    height: auto;
		    float: left;
		    display: inline;
		    background: #fffaf1;
		}
		.cart-table-line {
		    width: 990px;
		    height: 110px;
		    float: left;
		    display: inline;
		}
		.chk-line {
		    width: 35px;
		    height: 80px;
		    float: left;
		    display: inline;
		    margin: 15px 0 0 5px;
		    .chk {
			    float: left;
			    display: inline;
			    width: 10px;
			    height: 10px;
			    border-radius: 3px;
			    cursor: pointer;
			    border: 1px solid #999;
			    margin-left: 10px;
			    font-size: 16px;
			    position: relative;
			}
			.chk {
			    border-color: #d62233;
			    background: url(../images/select.png) #d62233 no-repeat;
			}
		}
		.item-box {
		    width: 300px;
		    height: 80px;
		    margin-top: 15px;
		    float: left;
		    display: inline;
	        position: relative;
	        img {
			    width: 78px;
			    height: 78px;
			    border: 1px solid #ddd;
			    float: left;
			    display: inline;
			    margin-right: 10px;
			    &:hover{
			    	border-color:#aaa;
			    }
			}
			.name {
			    width: 200px;
			    height: 36px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    overflow: hidden;
			    word-break: break-all;
			    text-overflow: ellipsis;
			    a{
			    	color: #333;
			    	&:hoover{
			    		color: #e6133c;
    					text-decoration: underline;
			    	}
			    }
			}
			.message-line {
			    width: 210px;
			    height: 18px;
			    float: left;
			    display: inline;
			    margin-top: 2px;
			}
		}
		.type-box {
		    width: 160px;
		    height: 80px;
		    float: left;
		    display: inline;
		    padding: 15px 10px 14px;
		    overflow: hidden;
		}
		.item-price-box {
		    width: 120px;
		    height: 80px;
		    line-height: 18px;
		    margin: 15px 0 0 15px;
		    float: left;
		    display: inline;
		    del {
			    width: 120px;
			    height: 18px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    color: #999;
			}
			.price {
			    width: 120px;
			    height: 18px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    color: #000;
			}
			.icon {
			    width: 120px;
			    height: 18px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    margin-top: 2px;
			    color: #fff;
			}
			i {
				background: #efae00;
			    width: auto;
			    height: 18px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    margin-right: 4px;
			    color: #fff;
			    padding: 0 4px;
			    border-radius: 3px;
			    margin-bottom: 4px;
			}
		}

		.number-box {
		    width: 80px;
		    height: 60px;
		    line-height: 18px;
		    color: #333;
		    float: left;
		    display: inline;
		    margin-top: 15px;
		    position: relative;
		    em {
			    width: 17px;
			    height: 24px;
			    line-height: 24px;
			    background: #f0f0f0;
			    margin-top: 2px;
			    float: left;
			    display: inline;
			    border: 1px solid #eee;
			    color: #333;
			    text-align: center;
			    cursor: pointer;
			    font-style: normal;
			    &:hover{
			    	border: 1px solid #333;
				    margin-right: -1px;
				    position: relative;
				    z-index: 2;
			    }
			}
			.reduce {
			    border-right: 0 none;
			}
			.text {
			    width: 40px;
			    height: 24px;
			    line-height: 24px;
			    border: 1px solid #aaa;
			    color: #333;
			    text-align: center;
			    float: left;
			    display: inline;
			    margin-top: 2px;
			}
			.add {
			    border-left: 0 none;
			}
		}
		.price-box {
		    width: 100px;
		    height: 80px;
		    margin-left: 40px;
		    margin-top: 15px;
		    float: left;
		    display: inline;
		     .price {
			    width: 100px;
			    height: 18px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    color: #d62233;
			    font-weight: 700;
			    overflow: hidden;
			}
		}
		.action-box {
		    width: 62px;
		    height: 80px;
		    float: right;
		    display: inline;
		    margin-right: 20px;
		    line-height: 18px;
		    margin-top: 15px;
		    .add-favourite {
			    color: #333;
			}
			.delete {
			    color: #999;
			}
			a:hover{
				text-decoration: underline;
    			color: #e6133c;
			}
		}
	}
	.pay-form {
	    width: 990px;
	    height: auto;
	    box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
	    float: left;
	    display: none;
	    margin-top: 20px;
	    position: relative;
	    .pay-line {
		    width: 990px;
		    height: 50px;
		    background: #f3f3f3;
		    line-height: 50px;
		    float: left;
		    display: inline;
		}
		.select-all {
		    margin: 0 15px;
		    float: left;
		    display: inline;
		    .chk {
			    width: 10px;
			    height: 10px;
			    border-radius: 3px;
			    cursor: pointer;
			    border: 1px solid #999;
			    float: left;
			    display: inline;
			    margin-top: 19px;
			}
		}
		.select .chk {
		    border-color: #d62233;
		    background: url(../images/select.png) #d62233 no-repeat;
		}
		.txt {
		    margin-left: 4px;
		    float: left;
		    display: inline;
		}
		a.txt {
		    width: auto;
		    height: 22px;
		    line-height: 24px;
		    color: #666;
		    margin: 13px 20px 0 0;
		    float: left;
		    display: inline;
		    &:hover{
		    	color: #d62233;
		    }
		    i{
		    	width: 16px;
			    height: 16px;
			    float: left;
			    display: inline;
			    margin-top: 4px;
			    background: url(../images/cart_icon.png) 0 -133px no-repeat;
		    }
		}
		.pay {
		    width: 120px;
		    height: 50px;
		    line-height: 50px;
		    color: #fff;
		    text-align: center;
		    float: right;
		    display: inline;
		    background: #d62233;
		    font-family: "Microsoft YaHei";
		    font-size: 20px;
		    &:hover{
		    	background: #b62222;
		    }
		}
		.item-show {
		    width: auto;
		    max-width: 270px;
		    float: right;
		    display: inline;
		    height: 24px;
		    line-height: 24px;
		    margin-top: 13px;
		    color: #000;
		    text-decoration: none;
		    span {
			    color: #d62233;
			}
		}
		.message {
		    width: 270px;
		    height: 42px;
		    float: right;
		    display: inline;
		    margin-right: 10px;
		    margin-top: 4px;
		    text-align: right;
		    .black {
				    color: #333;
			}
		    .price-line {
			    width: 270px;
			    height: 24px;
			    line-height: 24px;
			    float: left;
			    display: inline;
			    
				.price {
				    color: #d62233;
				    font-size: 18px;
				}
				i{
					font-style: normal;
				}
			}
			.reduce-line {
			    width: 270px;
			    height: 18px;
			    line-height: 18px;
			    float: left;
			    display: inline;
			    .grey {
				    color: #999;
				}
				i{
					font-style: normal;
				}
			}
		}
	}
}

//尾部
.cart_footer{
	margin-top: 30px;
	background: #f3f3f3;
	.footer_top{
		padding-top: 30px;
		background: #f3f3f3;
		
	}
	.footer_bottom{
		background: #fff;
		
	}
}